.area {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    min-width: 320px;
    max-width: 500px;
    margin: 0 auto;
}

@media (max-width: 576px) {
    .area {
        background-color: rgb(253, 246, 246);
        border-radius: 20px;
        padding: 10px;
        width: 320px;
        min-width: 320px;
        max-width: 900px;
        margin: 0 auto;
    }
}